name: Destroy Storage Account

on:
  workflow_dispatch:

env:
  AZURE_RESOURCE_GROUP: test

jobs:
  destroy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - name: Delete Storage Account
      run: |
        az storage account delete --name harrystore20241220 --resource-group ${{ env.AZURE_RESOURCE_GROUP }} --yes